Repository CorentinLumineau/pareto: changes, and which lefthook commands are due for each by the changed paths.
All: lint-ts, typecheck-ts, lint-python, format-python, typecheck-python, lint-go, prettier

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Install: pnpm lefthook install

pre-commit:
  parallel: true
  commands:
    # TypeScript/JavaScript
    lint-ts:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    typecheck-ts:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

    # Python
    lint-python:
      glob: "*.py"
      run: cd apps/workers && ruff check --fix {staged_files}
      stage_fixed: true

    format-python:
      glob: "*.py"
      run: cd apps/workers && ruff format {staged_files}
      stage_fixed: true

    typecheck-python:
      glob: "*.py"
      run: cd apps/workers && mypy {staged_files}

    # Go
    lint-go:
      glob: "*.go"
      run: cd apps/api && golangci-lint run --new-from-rev=HEAD~1

    # Format checks
    prettier:
      glob: "*.{json,md,yaml,yml}"
      run: pnpm prettier --check {staged_files}

pre-push:
  parallel: false
  commands:
    # Run full verification before push
    verify:
      run: make verify

commit-msg:
  commands:
    # Validate commit message format (Conventional Commits)
    conventional:
      run: |
        MSG=$(cat {1})
        if ! echo "$MSG" | grep -qE '^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .+'; then
          echo "Commit message must follow Conventional Commits format"
          echo "Example: feat(api): add user authentication"
          echo "Types: feat, fix, docs, style, refactor, test, chore, perf, ci, build, revert"
          exit 1
        fi

feat(db): add Atlas database migrations
  apps/api/atlas.hcl
  apps/api/internal/database/migrate.go
  apps/api/migrations/20251201183249_init.sql
  apps/api/migrations/atlas.sum
  apps/api/schema.sql
  documentation/development/database.md
  documentation/workflows/atlas-setup-workflow.md
Due: lint-go, prettier

refactor(build): modularize Makefile with SOLID structure
  .devcontainer/Dockerfile
  Makefile
  make/db.mk
  make/dev.mk
  make/devcontainer.mk
  make/docker.mk
  make/quality.mk
Due: none

feat(catalog): enhance product domain model
  apps/api/internal/catalog/domain/product.go
Due: lint-go

docs: sync documentation with implementations
  CLAUDE.md
  documentation/CLAUDE.md
  documentation/development/CLAUDE.md
  documentation/development/README.md
  documentation/domain/CLAUDE.md
  documentation/implementation/README.md
  documentation/milestones/CLAUDE.md
  documentation/milestones/MASTERPLAN.md
  documentation/workflows/scraper-initiative-workflow.md
  packages/utils/package.json
  packages/utils/vitest.config.ts
Due: lint-ts, typecheck-ts, prettier

fix(catalog): align repository/service types with domain model
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  Makefile
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/catalog/repository/interface.go
  apps/api/internal/catalog/service/catalog.go
  apps/api/package.json
  apps/mobile/package.json
  apps/web/package.json
  apps/workers/package.json
  apps/workers/pyproject.toml
  commitlint.config.js
  documentation/development/README.md
  lefthook.yml
  make/version.mk
  package.json
  packages/api-client/package.json
  packages/eslint-config/package.json
  packages/types/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
Due: lint-ts, lint-go, prettier

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier

chore: add CODEOWNERS and owner-only CI jobs
  .github/CODEOWNERS
  .github/workflows/quality.yml
Due: prettier

chore: protect Claude workflows from external abuse
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier
